:root {
    --primary-head-text : #212121;
    --primary-bcg : #ffffff;
    --secondary-text : #757575;
    --accent-color : #2196F3;
    --dark-bcg : #2F303A;
    --hover-color : #188CE8;
    --secondary-bcg : #E5E5E5;
    --primary-font: 'Roboto', sans-serif;
    --logo-font : 'Raleway', sans-serif;
}
/* body */
body {
    
    font-family: var(--primary-font);
    color: var(--primary-head-text);
    background-color: var(--primary-bcg);
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}
a  {
    text-decoration: none;
}



/* logo */
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: var(--logo-font);
}


.web {
color: var(--accent-color);
}
.studio-bottom {
    color: #ffffff;
}
.studio-bottom:hover,
.studio-bottom:focus {
    color: var(--hover-color);
}
.studio {
    color: var(--primary-head-text);
} 


/* site nav */

.site-nav :hover,
.site-nav :focus {
    color: var(--hover-color);
}
.site-nav {
    color : var(--primary-head-text)
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav, .contact-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
}


/* hero */
.header-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    background-color: var(--dark-bcg);
    color: white;
    text-align: center;
    text-transform: uppercase;
    
}
/* buttons */
.button {
    cursor: pointer;
    background-color: #F5F4FA;
    color: #212121;
}
.button:hover,
.button:focus {
    color: #ffffff;
    background-color: var(--hover-color);

}
.button:active {
    color: #2F303A;
}
.button.main {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: var(--accent-color);
    color: #ffffff;
}
.button.main:hover,
.button.main:focus {
    background-color: var(--hover-color);
    color: #ffffff;
}

/* links */
.contact-link {
    color: var(--secondary-text)
}
.contact-link:hover,
.contact-link:focus {
    color: var(--hover-color);
}
.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em; 
}
.contact-link.route {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: white;  
}
.contact-link.route:hover,
.contact-link.route:focus {
    color: var(--hover-color);
}
.list.activities {
    display: flex;
}
/* our team */
.team {
    background-color: var(--secondary-bcg); 
}



/* advantages */
.advantage {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
    color: var(--primary-head-text);

}
.advantage-description{font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text);
    
}

/* our team */
.employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-head-text);
}
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text);

}

.portfolio-description {
    color: var(--secondary-text);
}

/* footer */
.footer {
    background-color: var(--dark-bcg);
}
.hide {
    visibility: hidden;
}